<div>
    <div class = "form-group-import">
        <h2>Import rwexport file</h2>

        <p>Choose an rwexport file from Realm Works&reg;, or a Hero Lab&reg; portfolio file.&reg;.
		<p>Enter a name for the folder to be created in each Foundry section.
		<p>Then click "Import File".</h4>
		<hr>
		<p><input type="file" name="inputFile" accept=".rwoutput,.rwexport,.por" size="40">
        <p><label>Folder Name (actors/journals/scenes/playlists):</b> <input  id="folder-name" name="folder-name" value="Realm Works"></label>
		<p><label><input class="update-checkbox" type="checkbox" value="1" name="deleteOldFolders">Delete old folders before starting?</label>
		<p><label><input class="update-checkbox" type="checkbox" value="1" name="inboundLinks" checked>Add Inbound Links?</label>
        <label><input class="update-checkbox" type="checkbox" value="1" name="outboundLinks" checked>Add Outbound Links?</label>
        <p><input type="submit" class="import-file" value="Import File">
        <p><label>Progress: <input readonly id="message-area" name="message-area" value="----" size="40"></label>
    </div>
</div>