/* form.editable         = Formatting ONLY for visible to GMs
 * .mce-content-body     = Format preview in TinyMCE text editor
 * form[editable="true"] = Monk's Enhanced Journal
 */

form.editable section.RWgmDirAndContents,
.mce-content-body section.RWgmDirAndContents,
form[editable="true"] section.RWgmDirAndContents {
	/* Only seen by the GMs */
	border:  3px solid #b4b4b4;
	padding: 3px;
	margin:  2px 0px;
}
form.editable section.RWveracity-Partial,
.mce-content-body section.RWveracity-Partial,
form[editable="true"] section.RWveracity-Partial {
	/* Only seen by the GMs */
	border: 3px dashed #e4b5e4;
	margin: 2px 0px;
}
form.editable section.RWveracity-Lie,
.mce-content-body section.RWveracity-Lie,
form[editable="true"] section.RWveracity-Lie {
	/* Only seen by the GMs */
	border: 3px solid #e7c2e8;
	margin: 2px 0px;
}
/* Formatting for ALL users */
section.RWCallout, section.RWHandout, section.RWFlavor, section.RWRead_Aloud {
	padding: 1px;
	margin: 2px 0px;
}
section.RWCallout {
	/* snippet with RW style of "Callout" */
	background: #bebebe80;
}
section.RWHandout {
	/* snippet with RW style of "Handout" */
	background: #e8e1d980;
}
section.RWFlavor {
	/* snippet with RW style of "Flavor" */
	background: #efd4d280;
}
section.RWRead_Aloud {
	/* snippet with RW style of "Read_Aloud" */
	background: #d1dff280;
}
section.RWgmDirections {
	/* The GM-Directions part of a snippet */
	background: #fffbed80;
	border: 2px solid #d2c5b5;
	padding: 0px 3px;
}
